#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    background-color: rgba(26, 26, 26, 0.9);
    border-bottom: 1px solid #FFF;
}

#navbar img {
    width: 10vw
}

#navbar h2 a {
    display: flex;
    align-items: center;
    gap: 0.5rem
}


@media only screen and (max-width: 480px) {
    #navbar {
        display: block;
        gap: 0.5rem;
        justify-content: center;
    }

    #navbar form {
        margin-top: 0.5rem;
    }

    .movie-page {
        max-width: 90% !important;
    }

    .movie-card img {
        max-width: 90%;
    }
}